<header>
  <div id="navber">
    <div id="nav-belt">
      <div class="nav-left">
        <a href="/ref=nav_logo" class="nav-logo-link" tabindex="2">
        <span class="nav-logo-base nav-sprite">Amazon</span>
        <span class="nav-logo-ext nav-sprite"></span>
        <span class="nav-logo-locale nav-sprite"></span>
        </a>
        <a href="/gp/prime/ref=nav_logo_prime_join" aria-label="" tabindex="3" class="nav-logo-tagline nav-sprite nav-prime-try">
          プライムを始める
        </a>
      </div>
      <div class="nav-center">
        <input class="search" >

      </div>
      <div class="nav-right">
        <div class="time-sale">
          amazon タイムセール祭り
        </div>
      </div>



    </div>
    <div id="nav-main">
      <div class="nav-main-left">
        <h4>カテゴリー</h4>
      </div>
      <div class="nav-main-center">
        <div class="amazon-point">
          <p>Amazonポイント:残高を確認</p>
        </div>
        <div class="main-list">
          <ul>
            <li>マイストア</li>
            <li>タイムセール</li>
            <li>ギフト券</li>
            <li>Amazonで売る</li>
            <li>ヘルプ</li>
          </ul>
        </div>
      </div>
      <div class="nav-main-right"></div>

      
    </div>
  </div>
</header>













<footer>
  
</footer>